.button-group {
  top: 7px;
  right: 0;
  position: fixed;
  display: flex;
  column-gap: 10px;
  font-size: 20px;
  margin: 10px;
  color: #4c4c4c;
  z-index: 10;

  .icon:hover {
    cursor: pointer;
    color: #999999;
  }
}

.new-message {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  right: 33px;
  top: 0px;
  position: fixed;
  z-index: 2;
}

.popover-list {
  opacity: 0;
}
#user-list:hover ~ .popover-list {
  opacity: 1;
}

#editor {
  border: var(--editor-border-width) solid dimgray;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  max-height: 55%;
  margin: var(--editor-margins);
  -webkit-box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
}

#editor-navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: var(--main-color);
  border-bottom: var(--editor-border-width) solid dimgray;
}

#editor-navbar h3 {
  font-size: 30px;
  padding-top: 10px;
  color: rgb(80, 80, 80);
}

.fa-user-group {
  position: relative;
  left: 10px;
}
