.button-group {
  top: 7px;
  right: 0;
  position: fixed;
  display: flex;
  column-gap: 10px;
  font-size: 20px;
  margin: 10px;
  margin-right: 20px;
  color: #4c4c4c;
  z-index: 10;

  .icon:hover {
    cursor: pointer;
    color: #999999;
  }
}

.button-group-left {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  column-gap: 10px;
  font-size: 30px;
  margin: 10px;
  margin-left: 20px;
  color: #4c4c4c;
  z-index: 10;

  .icon:hover {
    cursor: pointer;
    color: #999999;
  }
}

.people-joined {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fc6a03;
  text-align: center;
  right: 40px;
  top: 5px;
  position: fixed;
  z-index: 2;
}

.people-joined > div {
  color: white;
  margin-top: -4px;
  font-size: 14px;
  margin-left: 0px;
}

.new-message {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  right: 33px;
  top: 0px;
  position: fixed;
  z-index: 2;
}

.popover-list {
  opacity: 0;
}
#user-list:hover ~ .popover-list {
  opacity: 1;
}

#editor {
  border: var(--editor-border-width)  dimgray;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  max-height: 55%;
  margin: var(--editor-margins);
  margin-top: 20px;
  -webkit-box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
}
.ace-tm {
  background-color: lightgrey;
  color: black;
}

.ace-tm .ace_gutter {
  background: darkgray;
  color: #333;
}

.ace-tm .ace_gutter-active-line {
  background-color: #8d8d8d;
}

.message-container{
  padding-bottom: 50px;
}

#editor-navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: var(--main-color);
  border-bottom: var(--editor-border-width) solid dimgray;
}

#editor-navbar h3 {
  font-size: 30px;
  padding-top: 7px;
  color: rgb(80, 80, 80);
}

.fa-user-group {
  position: relative;
  left: 10px;
}
