.projects-group {
    height: calc( 100vh - 6rem );
    padding: 25px;
    background-color: antiquewhite;
    border-radius: 1rem;
    overflow: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.projects-group::-webkit-scrollbar {
    display: none; /* chrome opera... */
}

.projects-title {
    text-align: center;
}

.projects-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);;
    display: flex;
    position: absolute;
    bottom: 20px;
    color: white;
}

.projects-button:hover {
    background-color: #3b3b3b;
    cursor: pointer;

}

.project-item {
    padding: 20px;
    background-color: #7e9181;
    border-radius: 4px;
}

.project-item:hover {
    background-color: #aac2ad;
    cursor: pointer;
}

.project-title {
    margin: auto;
    text-align: center;
    color: white;
}

.icon {
    margin: auto;
}

.leave-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #141414;;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.leave-button:hover {
    background-color: #3b3b3b;
    cursor: pointer;

}