#console {
  position: absolute;
  font-family: monospace;
  margin: var(--editor-margins);
  height: 20%;
  background-color: grey;
  color: black;
  border: var(--editor-border-width) solid black;
  padding-left: 40px;
  padding-top: 5px;
  z-index: 1;
  width: 73%;

  overflow-y: auto;
  overflow-x: auto;

  bottom: 0;
}

#console p {
  margin: 0;
  padding: 0;
}
