#console {
  position: absolute;
  font-family: monospace;
  margin: var(--editor-margins);
  height: 25%;
  background-color: lightgray;
  color: black;
  border: var(--editor-border-width) gray;
  border-radius: 5px;
  padding-left: 53px;
  padding-top: 5px;
  z-index: 1;
  width: 73%;

  overflow-y: auto;
  overflow-x: auto;

  bottom: 0;

  -webkit-box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.3);
}

#console p {
  margin: 0;
  padding: 0;
}
