.console {
  float: left;
  position: relative;
  height: 250px;
  background-color: black;
  color: white;
  border: 5px solid var(--main-color);
  padding-left: 40px;
  padding-top: 5px;
  z-index: 1;
  width: calc(100% - 175px);

  overflow-y: auto;
  overflow-x: auto
}

.console p {
  margin: 0;
  padding: 0;
}
