.run-container {
  position: absolute;
  left: calc(73% - 150px);
  top: 62%;
  z-index: 3;
  border: 5px solid var(--main-color);
  background-color: var(--main-color);
  border: var(--editor-border-width) solid dimgray;
  color: black;
  height: 75px;
  width: 150px;
}

.run-container:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
}

.run-container:active {
  background-color: rgb(92, 91, 91);
}

.run-container p {
  position: relative;
  text-align: center;
  top: 25%;
  text-anchor: middle;
}
