.run-container {
  position: relative;
  right: 15px;
  bottom: 15px;
  z-index: 3;
  border: 5px solid var(--main-color);
  background-color: var(--main-color);
  border: var(--editor-border-width) solid black;
  color: black;
  height: 100px;
  width: 200px;
}

.run-container:hover {
  background-color: rgb(148, 148, 148);
  cursor: pointer;
}

.run-container:active {
  background-color: rgb(92, 91, 91);
}

.run-container p {
  position: relative;
  text-align: center;
  top: 25%;
  text-anchor: middle;
}
